@model CadEditModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Edit 3D Model";
}

<h2 class="text-center mb-2">@Localizer["Title", Model.Name]</h2>
<hr />
<div class="container">
    <form asp-route-id="@Model.Id" method="post" autocomplete="off" enctype="multipart/form-data">
        <div class="row justify-content-center mb-3">
            <div class="col-2 text-center">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="@Localizer["Name"]" />
                <span asp-validation-for="@Model.Name" class="small text-danger"></span>
            </div>
            <div class="col-2 text-center">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="@null" selected>None</option>
                    @foreach (Category category in Model.Categories!)
                    {
                        <option value="@category.Id">@Localizer[category.Name]</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="small text-danger"></span>
            </div>
            <div class="col-1 text-center">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="@Model.Price" class="small text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center mb-3">            
            <div class="col-1 text-center">
                <label asp-for="SpinAxis" class="form-label"></label>
                <select asp-for="SpinAxis" class="form-control">
                    <option value="@null" selected>@Localizer["NoSpin"]</option>
                    <option value="x">Ox</option>
                    <option value="y">Oy</option>
                    <option value="z">Oz</option>
                </select>
                <span asp-validation-for="@Model.SpinAxis" class="small text-danger"></span>
            </div>
            
            <div class="col-1 text-center">
                <label asp-for="X" class="form-label"></label>
                <input asp-for="X" class="form-control" />
                <span asp-validation-for="X" class="small text-danger"></span>
            </div>
            <div class="col-1 text-center">
                <label asp-for="Y" class="form-label"></label>
                <input asp-for="Y" class="form-control" />
                <span asp-validation-for="Y" class="small text-danger"></span>
            </div>
            <div class="col-1 text-center">
                <label asp-for="Z" class="form-label"></label>
                <input asp-for="Z" class="form-control" />
                <span asp-validation-for="Z" class="small text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-1">
                <input class="btn btn-primary mt-3" type="submit" value="@Localizer["Edit"]" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}