@using CustomCADSolutions.Core.Contracts
@model IEnumerable<CadViewModel>
@inject IViewLocalizer Localizer
@inject IOrderService OrderService
@inject UserManager<IdentityUser> UserManager
@{
    bool isBg = CultureInfo.CurrentCulture.Name == "bg-BG";
    CultureInfo en = new CultureInfo("en-US");
}
<head>
    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
            }
        }
    </script>
</head>
<body>
    <h2 class="text-center">@Localizer[ViewBag.Category]</h2>
    <hr />

    @if (!Model.Any())
    {
        <p class="text-center">@Localizer["No models"]</p>
    }
    else
    {
        <div class="container text-center mt-5">
            <div class="row">
                @foreach (CadViewModel cad in Model)
                {
                    <script type="module">
                        import { loadModel } from '../../js/site.mjs';

                        let id = @cad.Id, name = '@cad.Name';
                        let x = @cad.Coords.Item1, y = @cad.Coords.Item2, z = @cad.Coords.Item3;
                        let axis = '@cad.SpinAxis', speed = @cad.SpinFactor.ToString(en);

                        loadModel(id, name, x, y, z, axis, speed);
                    </script>
                    <div class="col-xxl-2 col-xl-3 col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="card">
                            <h4 class="card-header text-center mb-1">@cad.Name (@(isBg ? cad.BgCategory : cad.Category))</h4>
                            <div class="card-body mb-0">
                                <div id="model-@cad.Id"></div>
                                @if (User.Identity!.IsAuthenticated)
                                {
                                    string buyerId = (await UserManager.FindByNameAsync(User.Identity!.Name!)).Id;

                                    bool alreadyOrdered = default;
                                    try 
                                    {
                                        var order = await OrderService.GetByIdAsync(cad.Id, buyerId);
                                        alreadyOrdered = true;
                                    }
                                    catch 
                                    {
                                        alreadyOrdered = false; 
                                    }

                                    bool isClient = User.IsInRole("Client"),
                                        isContributer = User.IsInRole("Contributer");

                                    if ((isClient || isContributer) && !alreadyOrdered)
                                    {
                                        <form asp-area="@(User.IsInRole("Client") ? "Client" : "Contributer")" asp-controller="Order" asp-action="Order" asp-route-id="@cad.Id">
                                            <input type="submit" value="@Localizer["Order"]" class="btn btn-secondary text-decoration-none" />
                                        </form>
                                    }
                                    else
                                    {
                                        
                                    }
                                }
                                else
                                {
                                    <p class="text-center small mt-3 mb-0">
                                        <a class="text-dark " asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
                                        @Localizer["Or"]
                                        <a class="text-dark " asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
                                        @Localizer["ToOrder"]
                                    </p>
                                }
                            </div>
                            <ul class="card-footer fs-6 mb-0">
                                <li class="list-group">@cad.CreatorName</li>
                                <li class="list-group">@cad.CreationDate</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</body>
