@model IEnumerable<CadViewModel>
@inject IViewLocalizer Localizer
@{
    CultureInfo culture = System.Globalization.CultureInfo.CurrentCulture;
    bool isBg = culture.Name == "bg-BG";
    CultureInfo en = new CultureInfo("en-US");
    double constant = 4.1;
}
<head>
    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
            }
        }
    </script>
</head>
<body>
    <h2 class="text-center">@Localizer[ViewBag.Category]</h2>
    <hr />

    @if (!Model.Any())
    {
        <p class="text-center">@Localizer["No models"]</p>
    }
    else
    {
        <div class="container text-center mt-5">
            <div class="row">
                @foreach (CadViewModel cad in Model)
                {
                    <script type="module">
                        import { loadModel } from '../../js/site.mjs';

                        let id = @cad.Id, name = '@cad.Name';
                        let widthConstant = @constant.ToString(en), heightConstant = @constant.ToString(en);
                        let x = @cad.Coords.Item1, y = @cad.Coords.Item2, z = @cad.Coords.Item3;
                        let axis = '@cad.SpinAxis', speed = @cad.SpinFactor.ToString(en);

                        loadModel(id, name, widthConstant, heightConstant, x, y, z, axis, speed);
                    </script>
                    <div class="col-4 mb-4">
                        <div class="card">
                            <h4 class="card-header text-center mb-1">@cad.Name (@(isBg ? cad.BgCategory : cad.Category))</h4>
                            <div class="card-body">
                                <div id="model-@cad.Id"></div>
                                @if (User.Identity!.IsAuthenticated)
                                {
                                    <a class="btn btn-secondary text-decoration-none" asp-action="AddOrder" asp-route-id="@cad.Id">Order</a>
                                }
                            </div>
                            <ul class="card-footer fs-6 mb-0">
                                <li class="list-group">@cad.CreatorName</li>
                                <li class="list-group">@cad.CreationDate</li>
                            </ul>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</body>
