@using System.Globalization
@model CadViewModel
@inject IViewLocalizer Localizer
@{
    double constant = 2;
}

<html>
<head>
    <link rel="stylesheet" href="~/css/index.css" />

    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
            }
        }

    </script>
    <script type="module">
        import { loadModel } from '../../js/site.mjs';

        let id = @Model.Id, name = '@Model.Name';
        let width = @constant.ToString(new CultureInfo("en-US")), height = @constant.ToString(new CultureInfo("en-US"));
        let x = @Model.Coords.Item1, y = @Model.Coords.Item2, z = @Model.Coords.Item3;
        let axis = '@Model.SpinAxis', speed = @Model.SpinFactor.ToString(new CultureInfo("en-US"));

        loadModel(id, name, width, height, x, y, z, axis, speed);
    </script>
</head>

<body class="fade-in">
    <h2 class="text-center mt-4 mb-4">CustomCADSolutions</h2>
    <hr />

    <div class="container d-flex">
        <section class="d-flex flex-column justify-content-center w-100">
            <h4 class="mb-4 text-center">@Localizer["Title"]</h4>
            <p class="mb-4">@Localizer["Subtitle"]</p>
        </section>
        <article class="fade-in w-100 h-auto">
            <div id="model-@Model.Id" class="fade-in bg-transparent"></div>
        </article>
    </div>
    <hr />

    <div class="container d-flex justify-content-evenly mt-5 mb-5">
        <div class="col-2">
            <div style="background-color: #BBB9D9" class="card p-2">
                <p class="mb-0  text-center">@Localizer["Recycle"]</p>
            </div>
            <img src="~/others/images/recycle.png" class="mt-3 w-100 h-auto rounded-circle" />
        </div>

        <div class="col-2">
            <div style="background-color: #BBB9D9" class="card p-2">
                <p class="mb-0 text-center">@Localizer["Delivery"]</p>
            </div>
            <img src="~/others/images/delivery.png" class="mt-3 w-100 h-auto rounded-circle" />
        </div>

        <div class="col-2">
            <div style="background-color: #BBB9D9" class="card p-2">
                <p class="mb-0 text-center">@Localizer["Quality"]</p>
            </div>
            <img src="~/others/images/quality.png" class="mt-3 w-100 h-auto rounded-circle" />
        </div>

    </div>
</body>
</html>