@model CadViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "CustomCADSolutions";
    CadViewModel cad = Model;
}

<body class="fade-in">
    <h2 class="text-center mt-4 mb-4">CustomCADSolutions</h2>
    <hr />

    <div class="container d-flex flex-column justify-content-between mt-4">
        <div class="row flex-sm-row flex-column-reverse">
            <div class="col d-flex flex-column justify-content-evenly align-content-center">
                <h3 class="col-12 text-center">@Localizer["Title"]</h3>

                <div class="col-sm-12 mt-5 mt-sm-0 d-flex flex-column justify-items-center">
                    <p class="col text-center">@Localizer["Contribute"]</p>
                    <p class="col-12 d-flex flex-columns justify-content-around" onclick="return confirm('@Localizer["Warning"]')">
                        <a asp-area="" asp-controller="Home" asp-action="MakeContributor"
                           class="col-6 btn custombtn">@Localizer["ContributeBtn"]</a>
                    </p>
                </div>
            </div>

            <div class="col-sm-4 col-12 mt-0 mb-3">
                <div id="model-@cad.Id" class="bg-transparent"></div>
            </div>
        </div>
    </div>
    <hr />

    <div class="container d-flex justify-content-evenly mt-5 mb-5">
        <div class="col-2">
            <div style="background-color: #BBB9D9" class="card p-2">
                <p class="mb-0  text-center">@Localizer["Recycle"]</p>
            </div>
            <img src="~/others/images/lies/recycle.png" class="mt-3 w-100 h-auto rounded-circle" />
        </div>

        <div class="col-2">
            <div style="background-color: #BBB9D9" class="card p-2">
                <p class="mb-0 text-center">@Localizer["Delivery"]</p>
            </div>
            <img src="~/others/images/lies/delivery.png" class="mt-3 w-100 h-auto rounded-circle" />
        </div>

        <div class="col-2">
            <div style="background-color: #BBB9D9" class="card p-2">
                <p class="mb-0 text-center">@Localizer["Quality"]</p>
            </div>
            <img src="~/others/images/lies/quality.png" class="mt-3 w-100 h-auto rounded-circle" />
        </div>

    </div>
    <hr />

    <div class="container mb-5">
        <h3 class="text-center mb-5">@Localizer["About"]</h3>
        <div class="row justify-content-around mb-4">
            <div class="col-5">
                <p class="h4 text-center">@Localizer["3dDes"]</p>
                <img src="~/others/images/idk.jpg" class="w-100 h-auto" alt="3D Designer" />
                <p class="text-center">@Localizer["3dDesInfo"]</p>
            </div>
            <div class="col-5">
                <p class="h4 text-center">@Localizer["WebDev"]</p>
                <img src="~/others/images/idk2.jpg" class="w-100 h-auto" alt="Web Developer" />
                <p class="text-center">@Localizer["WebDevInfo"]</p>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    <script type="module">
        import { loadModel } from '../../js/site.mjs';

        const cad = {
            id: @cad.Id,
            x: @cad.Coords[0],
            y: @cad.Coords[1],
            z: @cad.Coords[2],
            axis: '@cad.SpinAxis',
            fov: @cad.Fov,
            rgb: {
                r: @cad.RGB[0] / 255,
                g: @cad.RGB[1] / 255,
                b: @cad.RGB[2] / 255,
            }
        };

        loadModel(cad, '/Chair.STL');
    </script>


    <script>
        const divElement = document.getElementById('model-@cad.Id');
        divElement.setAttribute('style', 'height: 20rem !important');
    </script>
}

@section Styles {
    <link rel="stylesheet" href="~/css/animation.css" />
    <link rel="stylesheet" href="~/css/index.css" />
}