@inject IViewLocalizer Localizer
@{
}

<h2 class="text-center">@Localizer["Title"]</h2>
<hr />

<div class="container text-center">
    <p class="fs-4">
        @Localizer["Subtitle"]
        <br />
        <a asp-area="Identity" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
        @Localizer["Subregister"]
        <a asp-area="Identity" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
        @Localizer["Sublogin"]
    </p>
    <p class="fs-5">
        <span>@Localizer["Guidance"]</span>
        <br />
        <span>@Localizer["Warning"]</span>
    </p>
</div>