@model RoleIndexViewModel[]
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Manage Roles";
}

<h2 class="text-center">@Localizer["Title"]</h2>
<hr />

<div class="d-flex justify-content-center mb-4">
    <a asp-action="Add" class="col-2 btn btn-primary">@Localizer["Add"]</a>
</div>

@if (!Model.Any())
{
    <p class="text-center">@Localizer["NoRoles"]</p>
}
else
{
    <div class="container">
        <table class="table-bordered w-100 bg-white table-responsive">
            <thead class="text-center fs-5">
                <tr>
                    <th class="col-4">@Localizer["Id"]</th>
                    <th class="col-2">@Localizer["Name"]</th>
                    <th class="col-2">@Localizer["Details"]</th>
                    <th class="col-2">@Localizer["Edit"]</th>
                    <th class="col-2">@Localizer["Delete"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (RoleIndexViewModel role in Model)
                {
                    <tr>
                        <td>
                            <span class="d-flex justify-content-center text-center">@role.Id</span>
                        </td>
                        <td>
                            <span class="d-flex justify-content-center text-center">@role.Name</span>
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@role.Id" class="col-12 btn btn-secondary">
                                @Localizer["Details"]
                            </a>
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@role.Id" class="col-12 btn btn-warning">
                                @Localizer["Edit"]
                            </a>
                        </td>
                        <td>
                            <form asp-action="Delete" method="post">
                                <input name="id" value="@role.Id" hidden />
                                <input type="submit" value="@Localizer["Delete"]" class="col-12 btn btn-danger"
                                       onclick="return confirm('@Localizer["DeleteWarning", role.Name]')" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}