@model OrderViewModel[]
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Manage Users";
}

<h2 class="text-center">@Localizer["Title"]</h2>
<hr />

<div class="container">
    <table class="table-bordered w-100 bg-white table-responsive">
        <thead class="text-center fs-5">
            <tr>
                <th class="col">@Localizer["Id"]</th>
                <th class="col">@Localizer["Name"]</th>
                <th class="col">@Localizer["Buyer"]</th>
                <th class="col-2">@Localizer["Description"]</th>
                <th class="col">@Localizer["Category"]</th>
                <th class="col">@Localizer["OrderDate"]</th>
            </tr>
        </thead>

        <tbody>
            @foreach (OrderViewModel order in Model)
            {
                <tr>
                    <td>
                        <span class="d-flex justify-content-center text-center">@order.Id</span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center text-center">@order.Name</span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center text-center">@order.BuyerName</span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center text-center">@order.Description</span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center text-center">@Localizer[order.Category]</span>
                    </td>
                    <td>
                        <span class="d-flex justify-content-center text-center">@order.OrderDate</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>