@model CadAddModel
@inject IHtmlLocalizer<Shared.CategoryResources> CategoryLocalizer
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Submit 3D Model";
}

<h2 class="text-center mb-2">@Localizer["Title"]</h2>
<hr />
<div class="container">
    <form method="post" autocomplete="off" enctype="multipart/form-data">
        <div class="row justify-content-center mb-3">
            <div class="col-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="@Localizer["Name"]" />
                <span asp-validation-for="@Model.Name" class="small text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select asp-for="CategoryId" class="form-control">
                    <option value="@null" selected>@CategoryLocalizer["None"]</option>
                    @foreach (CategoryModel category in Model.Categories!)
                    {
                        <option value="@category.Id">@CategoryLocalizer[category.Name]</option>
                    }
                </select>
                <span asp-validation-for="@Model.CategoryId" class="small text-danger"></span>
            </div>
            <div class="col-3">
                <label asp-for="Price" class="form-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
        </div>


        <div class="row justify-content-center align-items-end mb-3">
            <div class="col-4">
                <label asp-for="CadFile" class="form-label"></label>
                <input id="cad-file" asp-for="CadFile" type="file" accept=".gltf,.glb" class="form-control" />
                <span asp-validation-for="CadFile" class="small text-danger"></span>
            </div>
            <span class="col-1 text-center h6"><button id="switch" type="button">switch</button></span>
            <div class="col-4">
                <label asp-for="CadFolder" class="form-label"></label>
                <input id="cad-folder" asp-for="CadFolder" type="file" class="form-control" multiple webkitdirectory directory />
                <span asp-validation-for="CadFolder" class="small text-danger"></span>
            </div>
        </div>

        <div class="row justify-content-center mt-3">
            <div class="col-1">
                <input class="btn btn-primary" type="submit" value="@Localizer["Upload"]" />
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/price-validation.js"></script>
    <script src="~/js/cad-validation.js"></script>
    <partial name="_ValidationScriptsPartial" />
}