@model CadViewModel
@{
}

<html>
<head>
    <!--3D Model-->
    <script type="importmap">
        {
          "imports": {
              "three": "https://unpkg.com/three@v0.161.0/build/three.module.js",
              "three/addons/": "https://unpkg.com/three@v0.161.0/examples/jsm/"
          }
        }
    </script>
    
    <!--Animation-->
    <link rel="stylesheet" href="~/css/index.css" />

</head>

<body class="fade-in">
    <h2 class="text-center mt-4 mb-4">CustomCADSolutions</h2>
    <hr />

    <div class="container d-flex">
        <section class="d-flex flex-column justify-content-center w-100">
            <h4 class="mb-4 text-center">Където Въображението Ти Се Съживява!</h4>
            <p class="mb-4">
                В този свят, изграден от пиксели и въображение,
                всеки 3D модел е мост между мечта и реалност,
                превръщайки идеи в триизмерни творения на изкуството!
            </p>
        </section>
        <article class="fade-in w-100 h-auto">
            <div id="model" style="background-color: transparent;" class="fade-in"></div>
            <script type="module">
                import * as THREE from 'three';
                import { STLLoader } from 'three/addons/loaders/STLLoader.js';
                import { OrbitControls } from 'three/addons/controls/OrbitControls.js';

                function loadModel(cadId, cadName, widthConstant, heightConstant, x, y, z) {

                    // Scene
                    const scene = new THREE.Scene();
                    scene.background = null;

                    // Camera
                    const camera = new THREE.PerspectiveCamera(90, window.innerWidth / window.innerHeight, 0.1, 1000);
                    camera.position.set(x, y, z);
                    camera.lookAt(0, 0, 0);

                    // Renderer
                    const renderer = new THREE.WebGLRenderer({ alpha: true, preserveDrawingBuffer: true });
                    renderer.setSize(window.innerWidth / widthConstant, window.innerHeight / heightConstant);
                    renderer.setClearColor(0x000000, 0);
                    document.getElementById(`model`).appendChild(renderer.domElement);

                    // Lights
                    const directionalLight = new THREE.DirectionalLight(0xffffff, 1);
                    directionalLight.position.set(0, 1, 0);
                    scene.add(directionalLight);

                    const ambientLight = new THREE.AmbientLight(0xffffff, 0.5);
                    scene.add(ambientLight);

                    // STL Loader
                    const loader = new STLLoader();
                    loader.load(`/others/cads/${cadName}${cadId}.stl`, function (stl) {
                        const material = new THREE.MeshLambertMaterial();
                        const mesh = new THREE.Mesh(stl, material);
                        scene.add(mesh);
                        stl.center();
                    }, undefined, function (error) {

                        console.error(error);

                    });

                    // Animation
                    const controls = new OrbitControls(camera, renderer.domElement);
                    controls.enableDamping = true;
                    controls.dampingFactor = 0.25;

                    let isInteracting = false;
                    let resumeTimeout;

                    controls.addEventListener('change', function (event) {
                        isInteracting = true;
                        clearTimeout(resumeTimeout);

                        resumeTimeout = setTimeout(() => {
                            isInteracting = false;
                        }, 1500);
                    });

                    function animate() {
                        requestAnimationFrame(animate);
                        renderer.render(scene, camera);
                        controls.update();

                        if (!isInteracting) {
                            scene.traverse(function (object) {
                                if (object instanceof THREE.Mesh) {
                                    object.rotation.x += 0.011;
                                }
                            });
                        }
                    }
                    animate();

                    window.addEventListener('resize', function () {
                        const width = window.innerWidth / constant;
                        const height = window.innerHeight / constant;
                        renderer.setSize(width, height);
                        camera.aspect = width / height;
                        camera.updateProjectionMatrix();
                    });
                }

                let x = @Model.Coords.Item1, y = @Model.Coords.Item2, z = @Model.Coords.Item3;
                loadModel(@Model.Id, '@Model.Name', 2, 2, x, y, z);
            </script>
        </article>    
    </div>
    <hr />

    <div class="container d-flex justify-content-evenly mt-5 mb-5">
        <div class="col-2"> 
            <div style="background-color: #BBB9D9" class="card p-2">
                <p class="mb-0  text-center">100% рециклируемо</p>
            </div>
            <img src="~/others/images/recycle.png" class="mt-3 w-100 h-auto rounded-circle" />
        </div>
        
        <div class="col-2">
            <div style="background-color: #BBB9D9" class="card p-2">
                <p class="mb-0 text-center">3-5 дневна доставка</p>
            </div>
            <img src="~/others/images/delivery.png" class="mt-3 w-100 h-auto rounded-circle" />
        </div>

        <div class="col-2">
            <div style="background-color: #BBB9D9" class="card p-2">
                <p class="mb-0 text-center">Невероятно качество</p>
            </div>
            <img src="~/others/images/quality.png" class="mt-3 w-100 h-auto rounded-circle" />
        </div>

    </div>
</body>
</html>