@model IEnumerable<OrderViewModel>
@inject IViewLocalizer Localizer
@{
    string status = ViewBag.Status;
}

<div class="col ms-3 me-3">
    <p class="fs-3 text-center mb-3">@Localizer[status]</p>

    @if (Model.Any())
    {
        <div class="row d-flex justify-content-center">
            @foreach (OrderViewModel order in Model)
            {
                <div class="card mb-4 ps-0 pe-0">
                    <div class="card-header d-flex justify-content-center">
                        <p class="mb-0 fs-4">@Localizer[order.Category]</p>
                    </div>
                    <div class="card-body">
                        <p class="card-title text-center h4 mt-0 mb-3">@order.Name</p>
                        <p class="card-text fs-5 mb-3">@order.Description</p>
                        @await Component.InvokeAsync("AllOrdersComponent", new { order, status })
                    </div>
                    <div class="card-footer d-flex justify-content-between pb-0">
                        <p class="text-end fs-6">-@order.BuyerName</p>
                        <p class="text-end fs-6">@order.OrderDate</p>
                    </div>
                </div>
            }
        </div>
    }
</div>