@model CadQueryInputModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<Shared.CategoryResources> CategoryLocalizer
@{
    string[] sorts = ViewBag.Sortings;
}

<div class="mt-4 mb-3">
    <form method="get">
        <input asp-for="CadsPerPage" hidden />
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <div class="form-group">
                    <label asp-for="Category" class="form-label"></label>
                    <select asp-for="Category" class="form-control">
                        <option value="">@Localizer["All"]</option>
                        @foreach (string category in Model.Categories)
                        {
                            <option value="@category">@CategoryLocalizer[category]</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md d-flex justify-content-center">
                <div class="form-group">
                    <label asp-for="SearchName" class="form-label"></label>
                    <input asp-for="SearchName" class="form-control" placeholder="@Localizer["Search"]" autocomplete="off">
                </div>
            </div>
            
            <div class="col-md d-flex justify-content-center">
                <div class="form-group">
                    <label asp-for="SearchCreator" class="form-label"></label>
                    <input asp-for="SearchCreator" class="form-control" placeholder="@Localizer["Search"]" autocomplete="off">
                </div>
            </div>

            <div class="col-md d-flex justify-content-center">
                <div class="form-group">
                    <label asp-for="Sorting" class="form-label"></label>
                    <select asp-for="Sorting" class="form-control">
                        @for (int i = 0; i < sorts.Length; i++)
                        {
                            <option value=@(i+1)>@Localizer[sorts[i]]</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md d-flex justify-content-center">
                <div class="form-group mt-4 p-2">
                    <input type="submit" value="@Localizer["Search"]" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </form>

</div>