@model OrderViewModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<Shared.CategoryResources> CategoryLocalizer
@{
    bool? isAdmin = ViewBag.IsAdmin;
}

<div class="col-sm-4 col-12 mb-2">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <p class="mb-0 fs-4">@CategoryLocalizer[Model.Category]</p>
            <p class="mb-0 bg-info small rounded-2 p-2">@Localizer[Model.Status]</p>
        </div>
        <div class="card-body">
            <p class="card-title text-center h4 mb-3">@Model.Name</p>
            <p class="card-text fs-5">@Model.Description</p>
            <div class="d-grid gap-2">
                <div class="d-flex justify-content-evenly mb-3 gap-2">
                    @await Component.InvokeAsync("OrdersComponent", new { order = Model, isAdmin = isAdmin ?? false })
                </div>
            </div>
        </div>
        <div class="card-footer text-end fs-6">@Model.OrderDate</div>
    </div>
</div>