@model CadViewModel
@inject IViewLocalizer Localizer
@{
    string[] buttons = ViewBag.Buttons;

    int id = Model.Id;
    string name = Model.Name;
}

<script type="module">
    import { loadModel } from '../../../js/site.mjs';

    const Model = {
        id: @Model.Id,
        x: @Model.Coords[0],
        y: @Model.Coords[1],
        z: @Model.Coords[2],
        fov: @Model.Fov,
    };

        loadModel(Model);
</script>
<div class="container col-md-8 col-12 mt-4">
    <div id="model-@Model.Id"></div>
    <div class="d-grid gap-2 mt-3">
        @foreach (string button in buttons)
        {
            @await Component.InvokeAsync("CadComponent", new { id, name, button })
        }
    </div>
</div>