@model CadViewModel
@inject IViewLocalizer Localizer
@{
    int cols = 12 / ViewBag.Cols;
    string[] buttons = ViewBag.Buttons;
    string header = ViewBag.Header;
}

<script type="module">
    import { loadModel } from '../../../js/site.mjs';

    const Model = {
        id: @Model.Id,
        x: @Model.Coords.Item1,
        y: @Model.Coords.Item2,
        z: @Model.Coords.Item3,
        axis: '@Model.SpinAxis',
        fov: @Model.Fov,
        rgb: {
            r: @Model.RGB.Item1 / 225,
            g: @Model.RGB.Item2 / 225,
            b: @Model.RGB.Item3 / 225,
        }
    };

    loadModel(Model);
</script>
<div class="container col-md-@cols col-12 mt-4">
    <div class="card">
        <h4 class="card-header text-center mb-1">
            <span>@header</span>
        </h4>
        <div class="card-body">
            <div id="model-@Model.Id"></div>
            <div class="d-grid gap-2 mt-3">
                 @foreach (string button in buttons)
                {
                    switch (button)
                    {
                        case "Edit":
                            <a asp-controller="Cads" asp-action="Edit" asp-route-id="@Model.Id" 
                                    class="btn btn-primary btn-warning mt-3">
                                @Localizer["Details"]
                            </a>
                            break;

                        case "Delete":
                            <form asp-controller="Cads" asp-action="Delete" asp-route-id="@Model.Id"
                                    class="mt-2" method="post">
                                <div class="d-grid gap-2">
                                    <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger mb-2"
                                           onclick="return confirm('@Localizer["DeleteWarning", Model.Name]?')" />
                                </div>
                            </form>
                            break;

                        case "Validate":
                            <form method="post" class="mt-2" asp-controller="Cads" asp-action="ValidateCad" asp-route-cadId="@Model.Id">
                                <div class="d-grid gap-2">
                                    <input type="submit" value="@Localizer["Validate"]" class="btn btn-primary mb-2"
                                           onclick="return confirm('@Localizer["ValidateWarning", Model.Name]?')" />
                                </div>
                            </form>
                            break;

                        case "Download":
                            <a asp-area="" asp-controller="Home" asp-action="DownloadCad" asp-route-id="@Model.Id" 
                                    class="btn btn-primary col-4">
                                @Localizer["Download"]
                            </a>
                            break;

                        case "Colorize":
                            <form id="color-form" asp-controller="Orders" asp-action="ChangeColor" 
                                    class="d-flex justify-content-around" method="post">
                                <div class="d-grid gap-2">
                                    <input id="pickColor-@Model.Id" type="color" class="form-control form-control-color col-4" />
                                </div>
                                <div class="d-grid gap-2">
                                    <input id="submit-@Model.Id" type="submit" value="@Localizer["Apply"]" class="btn btn-secondary col-4" />
                                </div>
                            </form>
                                break;

                        case "Order":
                            @if (!ViewBag.AlreadyOrdered)
                            {
                                <a asp-area="ViewBag.Area" asp-controller="Orders" asp-action="Order" asp-route-id="@Model.Id"
                                        class="btn btn-secondary text-decoration-none">
                                    @Localizer["Order"]
                                </a>
                            }
                            break;
                    }
                }
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between fs-6">
            <span>@Model.CreatorName</span>
            <span>@Model.CreationDate</span>
        </div>
    </div>
</div>