@inject IViewLocalizer Localizer
@{
    string currentUrl = Context.Request.Path + Context.Request.QueryString;
    ViewData["Title"] = "CustomCADSolutions";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" type="image/x-icon" href="~/icon.ico" />

    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler toggler fade-in" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon toggler-icon"></span>
                </button>
                <a class="logo fade-in me-3" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="mw-100 h-auto" src="~/logo.png">
                </a>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between fs-5">
                    <ul class="fade-in navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="dropdown-toggle bg-transparent border-0 nav-link text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                @Localizer["Language"]
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="bg-BG" asp-route-returnUrl="@currentUrl">
                                        <img class="w-100 h-auto" src="~/others/images/flags/4x3/bg.svg" alt="Bulgarian">
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@currentUrl">
                                        <img class="w-100 h-auto" src="~/others/images/flags/4x3/us.svg" alt="English">
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @if (User.Identity!.IsAuthenticated)
                        {
                            if (User.IsInRole("Administrator"))
                            {
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="User" asp-action="Index" role="button">@Localizer["AllUsers"]</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Admin" asp-controller="Cad" asp-action="Index" role="button">@Localizer["AllCads"]</a></li>
                            }
                            else if (User.IsInRole("Designer"))
                            {
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Designer" asp-controller="Order" asp-action="All" role="button">@Localizer["AllOrders"]</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Designer" asp-controller="Cad" asp-action="All" role="button">@Localizer["AllCads"]</a></li>
                            }
                            else if (User.IsInRole("Contributer"))
                            {
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Categories" role="button">@Localizer["Explore"]</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Contributer" asp-controller="Order" asp-action="Index" role="button">@Localizer["UrOrders"]</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Contributer" asp-controller="Cad" asp-action="Index" role="button">@Localizer["UrCads"]</a></li>
                            }
                            else if (User.IsInRole("Client"))
                            {
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Categories" role="button">@Localizer["Explore"]</a></li>
                                <li class="nav-item"><a class="nav-link text-dark" asp-area="Client" asp-controller="Order" asp-action="Index" role="button">@Localizer["UrOrders"]</a></li>
                            }
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Categories" role="button">@Localizer["Explore"]</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav d-flex alignt-items-center fade-in">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <hr />

    <footer class="footer position-relative w-100">
        <div class="d-flex align-items-center justify-content-evenly">
            <p class="fw-bold"><a class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a></p>
            <p>&copy; 2023-@DateTime.Now.Year - CustomCADSolutions</p>
            <p class="rounded-2">
                <span>@Localizer["Contacts"]</span>
                <a href="https://www.instagram.com/customcadsolutions/" class="text-black"><i class="ms-1 fa fa-instagram"></i></a>
                <a href="https://twitter.com/customcads/" class="text-black"><i class="ms-1 fa fa-twitter"></i></a>
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
