@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IViewLocalizer Localizer

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item me-2">
        <p class="nav-link text-dark text-end mb-0" title="Manage">@User.Identity?.Name</p>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark text-end">@Localizer["Logout"]</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark text-end" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark text-end" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
    </li>
}
