@model IEnumerable<UserViewModel>
@inject IViewLocalizer Localizer
@{
    string role = ViewBag.Role;
}

@foreach (UserViewModel user in Model)
{
    bool isSelf = User.Identity!.Name == user.Username;
    <tr>
        <td>
            <span class="d-flex justify-content-center text-center">@user.Id</span>
        </td>
        <td>
            <span class="d-flex justify-content-center">@user.Username</span>
        </td>
        <td>
            <span class="d-flex justify-content-center">@Localizer[role]</span>
        </td>
        <td>
            <div class="d-flex justify-content-center mb-1">
                <form asp-controller="User" asp-action="EditUserRole"
                    asp-route-username="@user.Username" class="d-flex">
                    <select class="me-2" name="selectedRole">
                        @foreach (string roleOption in ViewBag.Roles)
                        {
                            if (roleOption == role)
                            {
                                <option value="@roleOption" selected>@Localizer[roleOption]</option>
                            }
                            else
                            {
                                <option value="@roleOption">@(Localizer[roleOption])</option>
                            }
                        }
                    </select>
                    <input type="submit" value="@Localizer["ChangeRole"]"
                           class="btn btn-warning @(isSelf ? "disabled" : string.Empty)" />
                </form>
                <form asp-controller="User" asp-action="DeleteUser"
                      asp-route-username="@user.Username" class="ms-2 d-flex">
                    @if (User.Identity!.Name == user.Username)
                    {
                        <input type="submit" value="@Localizer["Delete"]" 
                           class="btn btn-danger" disabled />
                    }
                    else
                    {
                        <input type="submit" value="@Localizer["Delete"]" class="btn btn-danger"
                               onclick="return confirm(`@Localizer["DeleteWarning", user.Username]?`);" />
                    }
                </form>
            </div>
        </td>
    </tr>
}