@model UserViewModel[]
@inject IViewLocalizer Localizer
@{
}

<h1 class="text-center">@Localizer["Title"]</h1>
<hr />
<div class="container">
    <table class="table-bordered w-100 bg-white table-responsive">
        <thead class="text-center fs-5">
            <tr>
                <th class="col">@Localizer["Id"]</th>
                <th class="col">@Localizer["Name"]</th>
                <th class="col-2">@Localizer["Role"]</th>
                <th class="col">@Localizer["Edit"]</th>
            </tr>
        </thead>

        <tbody>
            @foreach (string role in ViewBag.Roles)
            {
                <partial name="_UsersPartial" model="Model.Where(v => v.Role == role)" 
                    view-data="ViewData" view-data-role="role" />
            }
        </tbody>
    </table>
</div>