@using CustomCADSolutions.Infrastructure.Data.Models.Enums
@model CadInputModel
@{
    Category[] categories = typeof(Category).GetEnumValues().Cast<Category>().ToArray();
    ViewData["Title"] = "Submit a 3D Model To Our Gallery";
}

<h2 class="text-center mb-2">@ViewData["Title"]</h2>
<hr />
<div class="container d-flex justify-content-center">
    <form class="row" method="post" autocomplete="off" enctype="multipart/form-data">
        <div class="col-7 mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" placeholder="Name..." />
            <span asp-validation-for="@Model.Name" class="small text-danger"></span>
        </div>
        <div class="col-5 mb-3">
            <label asp-for="Category" class="form-label"></label>
            <select asp-for="Category" class="form-control">
                <option value="@null" selected>None</option>
                @foreach (Category category in categories)
                {
                    <option value="@((int)category)">@category</option>
                }
            </select>
            <span asp-validation-for="@Model.Category" class="small text-danger"></span>
        </div>
        <div class="col-12">
            <label asp-for="File" class="form-label"></label>
            <input asp-for="File" type="file" accept=".stl" class="form-control" />
            <span asp-validation-for="File" class="small text-danger"></span>
        </div>
        <div class="col-12 d-flex">
            <input class="justify-content-center btn btn-primary mt-3" type="submit" value="Submit" />
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}