@using CustomCADSolutions.Infrastructure.Data.Models.Enums
@model CadInputModel
@{
    ViewData["Title"] = "Add 3D models";
    Category[] categories = (typeof(Category).GetEnumValues() as Category[])!;
}


<h2 class="text-center mb-2">@ViewData["Title"]</h2>
<hr />
<div class="d-flex justify-content-center mt-4">
    <form method="post" autocomplete="off">
        <div>
            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input style="width:500px" asp-for="Name" class="form-control" placeholder="Name..." />
                <span asp-validation-for="@Model.Name" class="small text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Category" class="form-label"></label>
                <select asp-for="Category" class="form-control" />
                <option value="@null">None</option>
                @foreach (Category category in categories)
                {
                    <option value="@category.(int)">@category</option>
                }
                <span asp-validation-for="@Model.Category" class="small text-danger"></span>
            </div>
            <input asp-for="Url" class="mb-3" hidden />
            <div class="mt-3">
                <label asp-for="Url" class="form-label"></label>
                <input asp-for="Url" class="form-control" placeholder="Url..." />
                <span asp-validation-for="@Model.Url" class="small text-danger"></span>
            </div>
        </div>
        <input class="btn btn-primary mt-3" type="submit" value="Submit" />
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}