@model CadViewModel

<div class="container d-flex flex-column align-items-center">
    <partial name="_PaymentFormPartial" model="Model" />
    <div class="col-sm-4 col-12 mt-0 mb-3">
        <div id="model-@Model.Id" class="bg-transparent"></div>
    </div>
</div>


@section Scripts {
    <script type="module">
        import { loadModel } from '../../../js/site.mjs';

        const cad = {
            id: @Model.Id,
            x: @Model.Coords[0],
            y: @Model.Coords[1],
            z: @Model.Coords[2],
            axis: '@Model.SpinAxis',
            fov: @Model.Fov,
            rgb: {
                r: @Model.RGB[0] / 255,
                g: @Model.RGB[1] / 255,
                b: @Model.RGB[2] / 255,
            }
        };

        loadModel(cad);
    
        const divElement = document.getElementById('model-@Model.Id');
        divElement.setAttribute('style', 'height: 20rem !important');
    </script>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        import { stripeTokenHandler } from '../../../js/site.mjs';

        var stripe = Stripe('@ViewBag.StripeKey');
        var elements = stripe.elements();

        var card = elements.create('card');
        card.mount('#card-element');

        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card).then(function (result) {
                if (result.error) {
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    stripeTokenHandler(result.token);
                }
            });
        });
    </script>
}