@model CadViewModel
@inject IViewLocalizer Localizer
@{
    CultureInfo en = new("en-US");
    double constant = 2.5;
}
<head>
    <script type="importmap">
        {
            "imports": {
                "three": "https://cdn.jsdelivr.net/npm/three@latest/build/three.module.js",
                "three/addons/": "https://cdn.jsdelivr.net/npm/three@latest/examples/jsm/"
            }
        }
    </script>
    <script type="module">
        import { loadModel } from '../../../js/site.mjs';

        let id = @Model.Id, name = '@Model.Name';
        let width = @constant.ToString(en), height = @constant.ToString(en);
        let x = @Model.Coords.Item1, y = @Model.Coords.Item2, z = @Model.Coords.Item3;
        let axis = '@Model.SpinAxis', speed = @Model.SpinFactor.ToString(en);

        loadModel(id, name, width, height, x, y, z, axis, speed);
    </script>
</head>
<body>
    <h1 class="text-center">@Localizer["Title", Model.Name]</h1>
    <hr />
    <div class="container col-6">
        <div class="card">
            <div class="card-header">
                <div class="d-flex justify-content-evenly">
                    <span>@Localizer["Camera"] - X@(Model.Coords.Item1) Y@(Model.Coords.Item2) Z@(Model.Coords.Item3)</span>
                    <span>@Localizer["Axis"] - O@(Model.SpinAxis)</span>
                    <span>@Localizer["Speed"] - @(Model.SpinFactor * 100)</span>
                </div>
            </div>
            <div class="card-body">
                <div class="d-flex flex-column align-items-center">
                    <div id="model-@Model.Id"></div>
                    <div><a asp-action="DownloadCad" asp-route-id="@Model.Id" class="btn btn-primary mt-3">@Localizer["Download"]</a></div>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <span>@Localizer["Designer"] - @Model.CreatorName</span>
                    <span>@Model.CreationDate</span>
                </div>
            </div>
        </div>
    </div>
</body>