@model CadViewModel
@inject IViewLocalizer Localizer
@inject IStringLocalizer<Shared.CategoryResources> CategoryLocalizer
@{
    string[] buttons = ViewBag.Buttons;
    string area = ViewBag.Area;

    int id = Model.Id;
    string name = Model.Name;
}

<script type="module">
    import { loadModel } from '../../../js/site.mjs';

    const cad = {
        id: @Model.Id,
        name: '@Model.Name',
        extension: '@Model.Extension',
        x: @Model.Coords[0],
        y: @Model.Coords[1],
        z: @Model.Coords[2],
        fov: @Model.Fov,
    };

        loadModel(cad);
</script>
<div class="container col-md-4 col-12 mt-4">
    <div class="card">
        <h4 class="card-header text-center mb-1">
            <span>@Model.Name (@CategoryLocalizer[Model.Category])</span>
        </h4>
        <div class="card-body">
            <div id="model-@id"></div>
            <div class="d-grid gap-2 mt-3">
                @if (!ViewBag.IsLoggedIn)
                {
                    <span>
                        <a asp-area="Identity" asp-controller="Account" asp-action="Login"
                           class="text-dark">@Localizer["Login"]</a>
                        @Localizer["Or"]
                        <a asp-area="Identity" asp-controller="Account" asp-action="Register"
                           class="text-dark">@Localizer["Register"]</a>
                        @Localizer["ToOrder"]
                    </span>
                }
                else
                {
                    @await Component.InvokeAsync("CadComponent", new { id, name, area, button = "Order" })
                }
            </div>
        </div>
        <div class="card-footer d-flex justify-content-between fs-6">
            <span>@Model.CreatorName</span>
            <span>@Model.CreationDate</span>
        </div>
    </div>
</div>